.login-contents {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .logo {
    width: 45px;
    margin-top: 2rem;
  }
}

.input-form {
  width: 100%;
}

.MuiFormLabel-root.Mui-focused {
  color: #1da1f2 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1da1f2 !important;
}
